.grid_12
  .padding
    %h1 About me

.grid_6
  .padding
    %p I love optimizing business processes and programming. Often I combine the two. My weapon of choice is Ruby on Rails combined with jQuery. It allows me to come from start to finish freakishly fast. I've been programming with Ruby and Ruby on Rails for 4 years, and making websites in 6 years.
    %strong Some of the things I have experience with:
    %ul
      %li Creating custom solutions from start to finish.
      %li Integrating with a payment gateway.
      %li Google maps integrations.
      %li SEO optimization.
    %p When I don't program, I enjoy running and playing the guitar. Should you ever be in Aarhus, Denmark, you are more than welcome to contact me for a running or jam session. :)
    %h2 Testimonials
    %blockquote 
      "Benjamin has worked independently and professionally with all of his tasks and have shown great responsibility for the operation of the website. We have been very pleased with Benjamin's work and we can highly recommend him."
      %br
      %br
      \ - Jack and Heinz 
      %br
      gipote.dk

    %blockquote
      "I can recommend him in any respect about programming in Ruby on Rails."
      %br
      %br
      \ - Søren Andersen 
      %br
      crowdfunded.dk


.grid_6
  .padding
    %img.big{:src=>'/images/portrait.jpg'}
    .image_source 
      Photo by 
      %a{:href=>'http://carstensvendsen.com'} Carsten Svendsen
