%h1 Hi my name is Benjamin and I'm a geek.
#about_info
  I'm currently a student at
  = succeed "," do
    %a{:href => "http://iha.dk"} Aarhus School of Engineering
  where I'm studying to become an engineer in Informations and Communications Technologies. In school I primarily code for embedded systems, that means a lot of C and C++.
  However in my free-time I enjoy dabbling into web-programming, you can see some of my projects at the
  %a{:href => "/projects"} projects
  page. When doing web-programming my favorite tool for the job is Ruby.
  %br/
  %br/
  %h3 I'm available for freelancing.
  %ul
    %li
      %a{:href => "http://github.com/bnjamin"} My Github
    %li
      %a{:href => "http://twitter.com/bnjamindk"} Follow me on Twitter
    %li
      %a{:href => "mailto:benjamin@bnjamin.com"} Contact me
#about_pic
  %img#profile{:alt => "Benjamin J\303\270rgensen", :src => "/images/benjamin-jorgensen.jpg"}/
