%h1 Benjamin Jørgensen
%h2 Freelancer med fokus på forretningsværdi
#about_info
  Jeg er en nørd når det handler om webteknologier, og det er vigtigt for mig at skabe en merværdi til dit firma.
  Mine kernekompetencer ligger i at lave custom web applikationer, så hvis du mangler en visitkorts/cms løsning, vil jeg hellere henvise dig til en anden freelancer.
  %br
  %br
  Jeg arbejder primært med frameworket Ruby on Rails, da jeg har fundet at det er det mest produktive system man kan bruge.
  %br
  %br
  Jeg er fyldt med gode idéer, hårdtarbejdende og virkeligt dygtig til det jeg laver. Du kan kontakte mig på nedenstående oplysninger.
  
  %br
  %br
  #contact_info
    Email: 
    %a{:href => "mailto:benjamin@bnjamin.com"} benjamin@bnjamin.com
    %br
    Tlf: 21483698
    %br
    Skype: bnjamindk
    %br
    Cvr: 33694482
  %br
  %ul#links
    %li
      %a{:href => "#projects"} Se mit Portfolie
    %li
      %a{:href => "#testimonials"} Se mine Udtalelser

  

      
#about_pic
  %img#profile{:alt => "Benjamin J\303\270rgensen", :src => "/images/benjamin-jorgensen.jpg"}/

%hr

#projects
  %h2 Portfolio
  .project
    .project_info
      %a{:href => "http://www.flightlogger.net"} Flightlogger.net
      %br/
      Et intranet til flyveskoler. Mit eget startup. Jeg har selv lavet alt på siden.
      %br/
      %br/
      Værktøjer brugt:
      %br/
      Ruby on Rails 3.0
      %br/
      jQuery
      %br/
      %br
    .project_pic
      %img.project{:alt => "eventspot.dk", :src => "/images/flightlogger.png"}/
  .hr
  .project
    .project_info
      %a{:href => "http://jampartner.dk"} Jampartner.dk
      %br/
      Et community til Danske musikere. Målet med siden er at lave et mødested for musikere. Jeg stod for alt arbejde på siden.
      %br/
      %br/
      Værktøjer brugt:
      %br/
      Ruby on Rails 2.3
      %br/
      jQuery
    .project_pic
      %img.project{:alt => "jampartner.dk", :src => "/images/jampartner.png"}/
  .hr
  .project
    .project_info
      %a{:href => "http://www.gipote.dk"} Gipote.dk
      %br/
      Et annnoncemarked for hunde, og et community for hundeejere. Mit job var at hjælpe til med at opdatere sitet fra Rails 2.3 til 3.0. 
      Desuden udviklede jeg også en del nye features og rettede fejl.

      %br/
      %br/
      Værktøjer brugt:
      %br/
      Ruby on Rails 3.0
      %br/
      jQuery
      %br/
    .project_pic
      %img.project{:alt => "gipote.dk", :src => "/images/gipote.jpeg"}/

%hr

#testimonials
  %h2 Udtalelser
  .testimonial
    %blockquote
      Benjamin har arbejdet selvstændigt og professionelt med alle sine opgaver og har vist stor ansvarlighed for hjemmesidernes drift.
      %br
      \- Jack Bang - Gipote ApS
