.grid_12
  .padding
    %h1 About me

.grid_6
  .padding
    %p I love programming in ruby. Also, I'm available for hire.
    %h2 Testimonials
    %blockquote 
      "Benjamin has worked independently and professionally with all of his tasks and have shown great responsibility for the operation of the website. We have been very pleased with Benjamin's work and we can highly recommend him."
      %br
      %br
      \ - Jack and Heinz 
      %br
      gipote.dk

    %blockquote
      "I can recommend him in any respect about programming in Ruby on Rails."
      %br
      %br
      \ - Søren Andersen 
      %br
      crowdfunded.dk


.grid_6
  .padding
    %img.big{:src=>'/images/portrait.jpg'}
    .image_source 
      Photo by 
      %a{:href=>'http://carstensvendsen.com'} Carsten Svendsen
