.grid_12
  .padding
    %h1 About me

.grid_6
  .padding
    Jeg er en nørd når det handler om webteknologier, og det er vigtigt for mig at skabe en merværdi til dit firma. Mine kernekompetencer ligger i at lave custom web applikationer, så hvis du mangler en visitkorts/cms løsning, vil jeg hellere henvise dig til en anden freelancer. 

    Jeg arbejder primært med frameworket Ruby on Rails, da jeg har fundet at det er det mest produktive system man kan bruge. 

    Jeg er fyldt med gode idéer, hårdtarbejdende og virkeligt dygtig til det jeg laver. Du kan kontakte mig på nedenstående oplysninger.

.grid_6
  .padding
    %img.big{:src=>'/images/portrait.jpg'}
    .image_source 
      Photo by 
      %a{:href=>'http://carstensvendsen.com'} Carsten Svendsen
