%h1.article
  %a{:href=>"/#{@article.path}"}= @article.title
%span.date
  =@article.date
.content= find_and_preserve(markdown(@article.body))
= erb :tweet
= erb :google
.comments
  #disqus_thread
    %script{:src => "http://disqus.com/forums/bnjamin/embed.js", :type => "text/javascript"}

