.post
  %h1= @article.title
  %span.date= @article.date
  .content= @article.body
  .comments
    #disqus_thread
      %script{:src => "http://disqus.com/forums/bnjamin/embed.js", :type => "text/javascript"}     %noscript
      %a{:href => "http://bnjamin.disqus.com/?url=ref"} View the discussion thread.
      %a.dsq-brlink{:href => "http://disqus.com"}
      blog comments powered by
      %span.logo-disqus Disqus