.grid_12.article
  %h1= @article.title
  %span.date= @article.date
  .content= markdown @article.body
  .comments
    #disqus_thread
      %script{:src => "http://disqus.com/forums/bnjamin/embed.js", :type => "text/javascript"} 
