.grid_12
  %h2 Contact me

.grid_12
  Would you like to discuss a project? 
  %br
  Call me on +45 21483698 
  %br
  Send an email to 
  %a{:href=>'mailto:benjamin@bnjamin.com'} benjamin@bnjamin.com
  %br
  %br
  #name Benjamin Jørgensen
  #street Dalgas Avenue 8a, 3.
  #zip 8000 Aarhus C
  #country Denmark
  #cvr CVR: 33694482
