-@articles.each do |article|
  .grid_12.article
    %h1.article
      %a{:href => article.path}= article.title
    %span.date= article.date
    .content
      = markdown article.body
    .more
      %a{:href => "/#{article.path}#disqus_thread"} Comments
  .hr
