<!doctype html>
%html
  %head
    %link{:href => "/css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/text.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title + " - Benjamin Jørgensen"
	  
  %body
    .container
      = yield
