!!!
%html
  %head
    %title=  @title + " - Benjamin Jørgensen"
    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/960_12_col.css'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/text.css'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/coderay.css'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26300893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container_12#top
      #logo.grid_6 
        %a{:href=>'/'} Benjamin Jørgensen
      %ul.grid_6#menu
        %li
          .extra_info Go ahead, I don't bite :)
          %a{:href=>'/contact'} Contact me
        %li
          .extra_info Personal info and testimonials
          %a{:href=>'/about'} About
        %li
          .extra_info See some of my projects
          %a{:href=>'/projects'} Projects
        %li
          .extra_info Read my musings
          %a{:href=>'/'} Blog

    .container_12#content= yield
    .container_12
      .grid_12#footer &copy; 2011 Benjamin Jørgensen
