%h1 Projects
.project
  .project_info
    %a{:href => "http://jampartner.dk"} Jampartner.dk
    %br/
    A community for danish musicians. The goal of the site is to create a place for musicians to meet, if they for an example needed a new drummer or guitarist for their band. I did both the design and the backend.
    %br/
    %br/
    Tools used:
    %br/
    Ruby on Rails
    %br/
    jQuery
  .project_pic
    %img.project{:alt => "jampartner.dk", :src => "/images/jampartner.png"}/
.hr
.project
  .project_info
    %a{:href => "http://eventspot.dk"} Eventspot.dk
    %br/
    A place to find events in my hometown Aarhus
    It scrapes events from other sites.
    %br/
    %br/
    Tools used:
    %br/
    Ruby on Rails
    %br/
    Nokogiri
    %br/
  .project_pic
    %img.project{:alt => "eventspot.dk", :src => "/images/eventspot.png"}/
