body {
  color: #333;
  font-family: 'Arial';
  font-size: 16px;
  line-height: 30px;
  background: #EEE;
  padding-bottom: 100px;
}

blockquote {
  padding: 20px;
  background: #ffffaa;
  font-family: "times new roman";
  font-style: italic;
  font-size: 18px;
  border: 2px #ffff77 solid;
}

ul#links li {
  display: block;
  margin: 0;
}

#contact_info {
  font-size: 20px;
  background: #ffffaa;
  padding: 5px;
  border: 2px #ffff77 solid;

}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 740px;
}

.article {
	width: 740px;
	display: inline;
	float: left;
}

#about_info {
	width: 460px;
	display: inline;
	float: left;
	margin-right: 10px;
}

#about_pic {
	width: 230px;
	display: inline;
	float: left;
	margin-left: 10px;
}

.project_info {
	width: 380px;
	display: inline;
	float: left;
	margin-right: 10px;
}

.project_pic {
	width: 300px;
	display: inline;
	float: left;
	margin-left: 10px;
}

a {
  color: #aa1100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: sans-serif; 
  letter-spacing: 0;
  margin: 30px auto;
  color: #333;
}

h1 {
  font-size: 40px;
}

/*  

	HEADER

*/


div#header {
	width: 100%;
	height: 105px;
	background: #222;
}

div#logo {
	font-size: 40px;
	padding-top: 20px;
	color: #777;
}

div#logo span {
	font-size: 18px;
}

ul#menu {
	float: right;
	margin-top: 15px;
}

ul#menu li {
	float:left;
	margin-left: 20px;
	font-size: 20px;
	display: block;
}

ul#menu a {
	color: #ddd;
	text-decoration: none;
}

ul#menu a:hover {
	color: #aaa;
}


/*  


*/


.date {
	color: #666;
	font-family: 'italian';
}

.more a:hover { 
	text-decoration: underline 
}

img#profile {
	float: right;
	border: 4px #ccc solid;
	margin: 10px 0 0 10px;
}

img.project {
	width: 330px;
	border: 4px #ccc solid;
}

div.hr {
	width: 740px;
	margin: 20px 0;
	border-top: 1px #ddd solid;
	border-bottom: 1px #fff solid;
	float: left;
}
